/* Color Scheme
terra cotta #E07A5F
deep slate blue #3D405B
*/

/* site wide */

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

/* header styling */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    column-gap: 8px;
    border-bottom: solid 1px #ddd;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}

/* hamburger navigation */

.hamburger {
    background: none;
    border: none;
    color: #3D405B;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.8rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 1.8rem;
}

/* navigation */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #E07A5F;
}

h1 {
    margin-left: 10px;
}