@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    li {
        flex: 1 1 100%;
    }
}

@media only screen and (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;

    }

    .aboutme,
    .studentpic,
    #courses {
        grid-column: 1;
        grid-row: auto;
    }
}

@media only screen and (max-width: 385px) {
    #controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }
}